---
import BannerMain from "../../../components/banners/BannerMain.astro";
import TitleMote from "../../../components/pages/home/TitleMote.astro";
import ProductosSection from "../../../components/pages/home/ProductosSection.astro";
import MarcasSection from "../../../components/pages/home/MarcasSection.astro";

import bannerImg from "../../../assets/imgs/bannerMain.jpg";
import bannerImg1 from "../../../assets/imgs/bannerMain01.jpg";
import bannerImg2 from "../../../assets/imgs/bannerMain02.jpg";
import bannerImg3 from "../../../assets/imgs/bannerMain03.jpg";
import bannerImg4 from "../../../assets/imgs/bannerMain04.jpg";
import bannerImg5 from "../../../assets/imgs/bannerMain05.jpg";

import CarouselMain from "../../../components/carousels/CarouselMain/CarouselMain";
import carousel01 from "../../../assets/imgs/home/carousel01.jpg";
import carousel02 from "../../../assets/imgs/home/carousel02.jpg";
import carousel03 from "../../../assets/imgs/home/carousel03.jpg";
import carousel04 from "../../../assets/imgs/home/carousel04.jpg";
import carousel05 from "../../../assets/imgs/home/carousel05.jpg";
---

<>
  <BannerMain
    backgroundImgs={[
      bannerImg,
      bannerImg1,
      bannerImg2,
      bannerImg3,
      bannerImg4,
      bannerImg5,
    ]}
  />

  <TitleMote>
    <h1 class="font-title text-tertiary-500 tracking-wider">
      <b class="text-primary-500 text-4xl md:text-6xl">1Tradeco Costa Rica:</b
      ><br />

      <span class="text-2xl lg:text-4xl">
        Los mejores pisos vinílicos y enchapes para tu proyecto.
      </span>
    </h1>
  </TitleMote>

  <CarouselMain
    client:load
    items={[
      {
        img: carousel01,
        title: "Asesoría técnica por parte de ingenieros y arquitectos.",
      },
      {
        img: carousel02,
        title: "Productos estéticos, funcionales y durables.",
      },
      {
        img: carousel03,
        title: "Materiales de alta calidad a precios asequibles.",
      },
      {
        img: carousel04,
        title:
          "Servicio enfocado en que tengas la mejor experiencia de compra.",
      },
      {
        img: carousel05,
        title: "Stock suficiente para proveer a particulares y distribuidores.",
      },
    ]}
  />

  <section class="container px-4 md:px-0 mb-12 md:mb-32 md:max-w-3xl lg:max-w-5xl">
    <p class="text-center text-lg lg:text-2xl lg:leading-10">
      Somos importadores y distribuidores de los mejores acabados para la
      construcción. Contamos con marcas reconocidas internacionalmente como los
      pisos vinílicos Artis y los enchapes de piedra Perdura Stone, Imperial
      Stone y Stona, brindando una gran variedad de diseños y colores para
      satisfacen los gustos más exigente.
    </p>
  </section>

  <ProductosSection />

  <MarcasSection />
</>

<style></style>
